.card-image {
  width: 0;
  border-radius: 10%;
  cursor: pointer;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.card-dropped {
  visibility: hidden;
}

.card-image-active {
  width: 65%;
  animation-duration: 300ms;
  animation-name: showImage;
}

@keyframes showImage {
  from {
    width: 0%
  }
  to {
    width: 65%
  }
}